___
## Run this file to collect the data 
First run this file to collect the file from the urls and write to "output_stage1.csv" file

### 1. Import packages

In [1]:
import pandas as pd
import requests

### 2. Pull Data from URLs

In [2]:
download = True # switch

if download:
    dates=['180505','180512','180519','180526','180602','180609','180616','180623','180630','180707','180714','180721','180728']
    
    mta_dfs = []
    
    for this_date in dates:
        url = f'http://web.mta.info/developers/data/nyct/turnstile/turnstile_{this_date}.txt'
        print(f'downloading {url}')
        
        mta_dfs.append(
            pd.read_csv(url)
        )

    df_mta = pd.concat(mta_dfs)
    df_mta.to_csv('turnstile_backup.csv')
else:
    df_mta = pd.read_csv('turnstile_backup.csv', index_col=0)

downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180512.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180519.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180526.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180602.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180609.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180616.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180623.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180630.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180707.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180714.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180721.txt
downloading http://web.mta.info/developers/data/nyct/turnstile/turnstile_180728.txt

### 3. Reset Index

In [3]:
df_mta.reset_index(inplace=True, drop=True)

### 4. Remove extra space in column names

In [4]:
df_mta.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [5]:
df_mta.columns = df_mta.columns.str.strip()
df_mta.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [6]:
df_mta.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,16:00:00,REGULAR,6599175,2236015

### 5.  Make Datetime Object
Convert the ['DATE'] and ['TIME'] strings into a datetime object

In [7]:
df_mta['DATETIME_STR'] = df_mta['DATE'] + ' ' + df_mta['TIME']

In [8]:
df_mta['DATETIME'] = pd.to_datetime(df_mta['DATETIME_STR'], format="%m/%d/%Y %H:%M:%S")

In [9]:
df_mta.drop('DATETIME_STR', axis=1, inplace=True)

### 6. Sort data and write to file

In [10]:
df_mta.sort_values(by=['STATION', 'UNIT', 'C/A', 'SCP', 'DATETIME'], inplace=True)
df_mta.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
30193,H007,R248,00-00-00,1 AV,L,BMT,04/28/2018,00:00:00,REGULAR,13470157,15068968,2018-04-28 00:00:00
30194,H007,R248,00-00-00,1 AV,L,BMT,04/28/2018,04:00:00,REGULAR,13470247,15069262,2018-04-28 04:00:00
30195,H007,R248,00-00-00,1 AV,L,BMT,04/28/2018,08:00:00,REGULAR,13470336,15069583,2018-04-28 08:00:00
30196,H007,R248,00-00-00,1 AV,L,BMT,04/28/2018,12:00:00,REGULAR,13470882,15070622,2018-04-28 12:00:00
30197,H007,R248,00-00-00,1 AV,L,BMT,04/28/2018,16:00:00,REGULAR,13471623,15071910,2018-04-28 16:00:00

In [11]:
df_mta.to_csv('output_stage1.csv')

___
### Next->clean_data.ipynb