---
## Which are the top stations ?
This notebook reads our cleaned data from the file "output_stage2.csv" and identifies the top 10 station on the network in terms of traffic volume

### 1. Importing package

In [7]:
import pandas as pd

### 2. Reading data 
We read data in from a file -"output_stage2.csv" - which contains cleaned data previous generated

In [8]:
# load the cleaned data output from "clean_data.ipynb"
mta_data = pd.read_csv('output_stage2.csv', parse_dates=['DATETIME'])

# drop the default index column
mta_data.drop('Unnamed: 0', axis=1, inplace=True)

mta_data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,ENTRY_DIFF,EXIT_DIFF
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,04:00:00,REGULAR,6598864,2235830,2018-04-28 04:00:00,17.0,1.0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,08:00:00,REGULAR,6598880,2235863,2018-04-28 08:00:00,16.0,33.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,12:00:00,REGULAR,6598961,2235955,2018-04-28 12:00:00,81.0,92.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,16:00:00,REGULAR,6599175,2236015,2018-04-28 16:00:00,214.0,60.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2018,20:00:00,REGULAR,6599456,2236074,2018-04-28 20:00:00,281.0,59.0

### 3. Aggregating Data

In [9]:
# aggregate the combined traffic for each station
station_daily_totals = mta_data.groupby(
    ["STATION", "DATE"]
)[["ENTRY_DIFF", "EXIT_DIFF"]].sum()

station_daily_totals.reset_index(inplace=True)

In [10]:
# calculate the total daily traffic through each turnstile
station_daily_totals["ENTRIES + EXITS"] = (
    station_daily_totals["ENTRY_DIFF"] +
    station_daily_totals["EXIT_DIFF"]
)

### 4.  Finding top 10 stations on a given day

In [11]:
# top 10 stations on May 1, 2018
top_10_stations_may1 = (
    station_daily_totals[station_daily_totals["DATE"] == "05/01/2018"]
    .sort_values(by="ENTRIES + EXITS", ascending=False)
    .reset_index()
    .head(10)
)
top_10_stations_may1

   index          STATION        DATE  ENTRY_DIFF  EXIT_DIFF  ENTRIES + EXITS
0   5371   34 ST-PENN STA  05/01/2018    170728.0   140862.0         311590.0
1  20839  GRD CNTRL-42 ST  05/01/2018    152136.0   131042.0         283178.0
2   5189  34 ST-HERALD SQ  05/01/2018    114536.0   105386.0         219922.0
3   4074            23 ST  05/01/2018    123829.0    89624.0         213453.0
4   1275   14 ST-UNION SQ  05/01/2018    109976.0    93499.0         203475.0
5  31516   TIMES SQ-42 ST  05/01/2018     98600.0    92357.0         190957.0
6  20205        FULTON ST  05/01/2018    103067.0    84550.0         187617.0
7   9712            86 ST  05/01/2018     89423.0    71847.0         161270.0
8   5921  42 ST-PORT AUTH  05/01/2018     89148.0    69248.0         158396.0
9   7532   59 ST COLUMBUS  05/01/2018     80012.0    66843.0         146855.0

### 5.  Finding top 10 stations for entire data time period

In [12]:
# top 10 stations over the 3 month period from 4/28/2018 to 07/27/2018
top_10_stations = (
    station_daily_totals
    .groupby(["STATION"])
    .mean()
    .sort_values(by="ENTRIES + EXITS", ascending=False)
    .reset_index()
    .head(10)
)
top_10_stations

           STATION     ENTRY_DIFF      EXIT_DIFF  ENTRIES + EXITS
0   34 ST-PENN STA  141925.681319  120696.395604    262622.076923
1  GRD CNTRL-42 ST  123640.406593   99529.505495    223169.912088
2  34 ST-HERALD SQ   96575.670330   87508.769231    184084.439560
3   TIMES SQ-42 ST   89894.747253   84301.406593    174196.153846
4   14 ST-UNION SQ   92620.241758   80904.725275    173524.967033
5            23 ST   92545.637363   65832.615385    158378.252747
6        FULTON ST   82970.747253   67712.571429    150683.318681
7  42 ST-PORT AUTH   79603.296703   64530.725275    144134.021978
8            86 ST   67748.087912   59547.197802    127295.285714
9           125 ST   66826.912088   54255.571429    121082.483516

 ___

### Next -> week_top_10.ipynb